userTripoa=****
passTripoa=****
dataTripoa=***
userNMRC=***
passNMRC=*****
dataNMRC=****
basePath=C:\\MEUGIT\\estudos\\python\\reportTool
generatedHtml=C:\\MEUGIT\\estudos\\python\\reportTool\\htmlCommon\\discard\\
headerPathTemplate=C:\\MEUGIT\\estudos\\python\\reportTool\\htmlCommon\\
headerPathDiscard=C:\\MEUGIT\\estudos\\python\\reportTool\\htmlCommon\\discard\\
footerPath=C:\\MEUGIT\\estudos\\python\\reportTool\\htmlCommon\\
pdfPath=C:\\MEUGIT\\estudos\\python\\reportTool\\pdfs\\
